################################
# Maven / Java
################################
target/
*.log

################################
# Maven Wrapper
################################
.mvn/wrapper/maven-wrapper.jar

################################
# Node / Tailwind
################################
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

################################
# Generated CSS (optional)
################################
src/main/resources/static/css/output.css

################################
# IDE Files
################################

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

################################
# macOS
################################
.DS_Store